@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*,html,body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
.container_initial{
    display: inline-flex;
    height:100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #000;
}
.aside_area{
    background-color: #333;
    width: 20%;

}
nav, .music_up, .music_list{
    background-color:transparent ;
    padding: 10px;
}
.music_up{
    border-bottom: 1px solid rgba(200, 200, 200, 0.1);
}
nav ul {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
nav ul li, .music_up ul li {
    max-height:40px;
    width: 100%;
    margin-bottom: 10px;
}
nav ul li a,.music_up ul li a{
    font-family: 'Roboto', sans-serif;
    color: gray;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    text-decoration: none;
}
nav ul li a i,.music_up ul li a i{
    margin-right: 10px;
    color: gray;
}
ul li:hover a, ul li:hover i, .music_up ul li:hover i {
    color: white;
    transition:1s ;
}
.active{
    color: white;
}
.music_list{
    color: gray;
    font-size: large;
    font-weight: bold;
    height: 100%;
}
.music{
    font-size: medium;
    font-weight: 200;
    margin-top: 20px;
    max-height: 330px;
}
.music:hover{
    overflow-y: visible;
    overflow-y: scroll;
}
.main_area{
    background: rgb(0,15,128);
    background: linear-gradient(180deg, rgba(0,15,128,1) 0%, rgba(0,0,0,1) 36%);
    width: 100%;
    height: 100%;
    color: white;
}
header{
    padding: 10px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a i {
    font-size:30px;
    color: grey;
    font-weight: lighter;
}
.arrows{
    display: flex;
    justify-content: space-around;
    width: 80px;
}
.arrows a {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user_profile{
    display: flex;
    justify-content: center;
}
.upgrade_area{
    height: 100%;
    width: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.upgrade{
    font-weight: bold;
    font-size: 14px;
    color: white;
    padding: 5px 15px;
    border: 2px solid gray;
    border-radius: 28px;
    width: 121px;
    text-decoration: none;
    text-align: center;
}
.upgrade:hover{
    border: 2px solid rgb(255, 255, 255);
    font-size: 15px;
    width: 130px;
}
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 26, 28);
    border-radius: 28px;
    padding: 0 10px;
    color: white;
    font-weight: bold;
}
.profile img{
    margin-right: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
h4{
    padding-left: 15px;
    margin-bottom: 10px;
}
.albuns{
    width: 100%;
    height: 70%;
    color: white;
    padding:10px 15px;
}
table{
    border-collapse: collapse;
    width: 1200px;
    height: 50px;
    text-align: center;
    overflow: scroll;
}
.albuns:hover{
    overflow-y: auto;
    padding-right: 0.5px;
}
.albuns::-webkit-scrollbar,.music::-webkit-scrollbar {
    width: 15px;               /* width of the entire scrollbar */
}
.albuns::-webkit-scrollbar-track,.music::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
}
.albuns::-webkit-scrollbar-thumb, .music::-webkit-scrollbar-thumb {
    background-color: rgba(150, 150, 150, 0.9);    /* color of the scroll thumb */
    border-radius: 5px;       /* roundness of the scroll thumb */
    margin-top: 10px;
    border: 0px solid rgba(150, 150, 150, 0.9);  /* creates padding around scroll thumb */
}
table td{
    padding: 10px;
    text-overflow: ellipsis;
}
thead > tr > th{
    position: sticky;
    background-color: #000;
    top:-15px;
    height: 50px;
}
.actions{
    display: flex;
    justify-content: center;
    align-items: center;
}
table tbody tr td a i {
    color: gray;
}
table tbody tr td a .play:hover{
    color: green;
}
table tbody tr td a .delete:hover{
    color: rgba(255, 10, 10, 0.505);
}
table tbody tr td a .delete{
font-size: 20px;
}
.music::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
}
.music::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
  }
 .music::-webkit-scrollbar-thumb {
    background-color: rgba(150, 150, 150, 0.9);    /* color of the scroll thumb */
    border-radius: 2px;       /* roundness of the scroll thumb */
    margin-top: 10px;
    border: 0px solid rgba(150, 150, 150, 0.9);  /* creates padding around scroll thumb */
  }
footer{
    position: fixed;
    bottom: 0;
    min-width: 100vw;
    background-color: black;
    height: 120px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 10px;
}
.first_area{
    display: flex;
    height: 100%;
}
.image_area{
    display: flex;
    align-items: center;
}
#img_album{
    width: 50px;
    height: 50px;
}
.desc_area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:15px;
    color: white;
}
#music_name{
    margin-bottom: 2px;
    cursor: default;
}
#artist_name{
    font-size: 12px;
    color: gray;
    cursor: default;
}
.like_area{
    display: flex;
    align-items: center;
}
.like_area i{
    color: gray;
    margin-left: 15px;
    font-size: 18px;
    cursor: default;
}
.like_area i:hover{
    color: white;
}
.second_area{
    display: flex;
    flex-direction: column;
}
.control_area{
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
}
.control_area i{
    font-size: 25px;
    cursor: default;
}
.control_area #play{
    color: white;
    font-size: 40px;
    border: 2px transparent solid;
    border-radius: 50%;
}
.control_area i:hover{
    color: white;
}
.control_area #play:hover{
    border: 2px white solid;
}
.duration{
    display: flex;
    align-items: center;
}
.time_bar{
    display: flex;
    justify-content: center;
    color: white;
    height: 100%;
}
.informations{
    color: white;
    display: flex;
    justify-content: space-around;
}
.volume_area{
    color: white;
    display: flex;
    margin-left: 30px;
}
#mute{
    cursor: default;
}
.range_area{
    height: 100%;
    display: flex;
    justify-content: center;
}

/*********** Baseline, reset styles ***********/
input[type="range"] {
    -webkit-appearance:none;
    background: transparent;
    cursor: pointer;
    margin: 2px;
    width: 200px;
  }
  
  /******** Chrome, Safari, Opera and Edge Chromium styles ********/
  /* slider track */
  input[type="range"]::-webkit-slider-runnable-track {
    background-color: #d3dcde;
    border-radius: 0.5rem;
    height: 0.5px;
  }
  
  /* slider thumb */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -7.25px; /* Centers thumb on the track */
    background-color: #fcfcfc;
    border-radius: 0.5rem;
    height: 15px;
    width: 15px;
  }
  
  /*********** Firefox styles ***********/
  /* slider track */
  input[type="range"]::-moz-range-track {
    background-color: #d3dcde;
    border-radius: 0.5rem;
    height: 0.5px;
  }
  
  /* slider thumb */
  input[type="range"]::-moz-range-thumb {
    background-color: #fcfcfc;
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0.5rem;
    height: 15px;
    width: 15px;
  }
  #volume_range{
    width: 100px;
  }















